<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Berbagi Air Admin Page</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <style>
      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/sign-in.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <form method="post" action="/login">
        <h1 class="h1 mb-3 fw-bold">Berbagi Air</h1>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
          <input name="username" type="username" class="form-control" id="floatingInput" placeholder="User name" required="">
          <label for="floatingInput">User name</label>
        </div>
        <div class="form-floating">
          <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required="">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <!-- <a href="/signup" class="h6 mb-3 fw-normal">Sign up</a> -->
      </form>
      <% if(error && error.length > 0) {%>
        <br>
        <div class="alert alert-danger" role="alert">
          <%= error; %>
        </div>
      <% }%>
    </main>
  </body>
</html>